@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");

:root {
  --grey: #5c5c5e;
  --white: #f6f4f5;
  --light-grey: #cacad6;
  --black: #070707;
  --font-family: "Helvetica", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header nav {
  display: flex;
  margin: 19px 0;
  justify-content: space-between; /* Елементи на протилежних кінцях */
  align-items: center; /* Вирівнювання по вертикалі */
}

button {
  cursor: pointer;
}

.btns {
  display: flex; /* Розміщує кнопки в рядок */
  gap: 20px; /* Проміжок між кнопками */
  a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
  }
}

.logo {
  margin: 0 auto; /* Логотип буде по центру через автоматичні відступи */
}

.bag {
  margin-left: auto; /* "Bag" зсувається до кінця */
  cursor: pointer;
}
.Meta_quest_2 h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 96px;
  color: var(--grey);
  margin-bottom: 10px;
}
.Meta_quest_2 {
  animation: Meta_quest_2_animation 1s ease-in-out;
}
@keyframes Meta_quest_2_animation {
  from {
    transform: translateY(
      100%
    ); /* Початково текст знаходиться нижче свого положення */
    opacity: 0; /* Невидимий */
  }
  to {
    transform: translateY(0); /* Повертається в нормальне положення */
    opacity: 1; /* Стає видимим */
  }
}

.bg {
  background-image: url(../png/First_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  box-sizing: border-box;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.Meta_quest_2 h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--grey);
  margin-bottom: 5px;
}
.Meta_quest_2 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--grey);
}
.Meta_quest_2 .buy {
  border: none;
  text-align: center;
  width: 300px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
}
.Meta_quest_2 .price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--grey);
  width: 300px;
  height: 60px;
  margin: 0;
  background: rgba(217, 217, 217, 0);
  border: 1px solid transparent; /* Прозорий бордер */
  border-image: linear-gradient(
    180deg,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) 100%
  ); /* Градієнт для бордера */
  border-image-slice: 1; /* Вказує, щоб градієнт поширювався на весь бордер */
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.product_features {
  margin-top: 100px;
  height: 402px;
  display: flex;
  justify-content: space-around;
}
.list {
  width: 185px;
  height: 208px;
  list-style: none;
  padding: 0;
  margin-right: 110px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--grey);
}
li {
  margin-top: 20px;
}
.Product_feat h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
}
.product_feat_2 {
  margin-left: 25px;
}
.Product_feat {
  width: 200px;
  margin-right: 115px;
}
.product_feat_1 h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 329px;
}
.product_feat_graphics {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
}
.product_feat_2 p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
}
.product_feat_2 h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--grey);
}
.Games {
  margin-top: 100px;
  display: flex;
  width: 1200px;
  height: 568px;
}
.games_text {
  width: 300px;
}
.games_colorful_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Games p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
}
.Games button {
  gap: 0;
  width: 225px;
  height: 60px;
  margin: 0;
  background: rgba(217, 217, 217, 0);
  border: 1px solid transparent; /* Прозорий бордер */
  border-image: linear-gradient(
    180deg,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) 100%
  ); /* Градієнт для бордера */
  border-image-slice: 1; /* Вказує, щоб градієнт поширювався на весь бордер */
}
.Games span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Games_el {
  width: 900px;
  display: flex;
  margin-left: 18px;
}
.games_border {
  width: 300px;
  height: 500px;
  gap: 0;
  margin: 0;
  background: rgba(217, 217, 217, 0);
  border: 1px solid transparent; /* Прозорий бордер */
  border-image: linear-gradient(
    180deg,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) 100%
  ); /* Градієнт для бордера */
  border-image-slice: 1; /* Вказує, щоб градієнт поширювався на весь бордер */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Games_el h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}
.Games_el p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  width: 260px;
}
.Games_el a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  margin-top: 40px;
}
.Games_el img {
  width: 260px;
  height: 280px;
}
.oculus_bg {
  margin: 0 auto;
  height: 300px;
  width: 90%;
  background-image: url(../png/Oulus_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Змінено для абсолютного позиціонування дочірніх елементів */
}

.oculus_elements {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Oculus_view {
  margin: 0 auto;
  text-align: center; /* Якщо текст потрібно центровано вирівняти */
}

.oculus_btns {
  flex-direction: row; /* Встановлюємо кнопки в рядок */
}
.oculus_btns button:first-child {
  border: none;
  text-align: center;
  width: 300px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
}
.oculus_btns button:last-child {
  width: 300px;
  height: 60px;
  margin: 0;
  background: rgba(217, 217, 217, 0);
  border: 1px solid transparent; /* Прозорий бордер */
  border-image: linear-gradient(
    180deg,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) 100%
  ); /* Градієнт для бордера */
  border-image-slice: 1; /* Вказує, щоб градієнт поширювався на весь бордер */
}
.oculus_elements p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--grey);
}
.in_the_box {
  display: flex;
  margin-top: 109px;
  gap: 20px;
}
.in_the_box_other_items {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 50px;
}
.in_the_box_cable_card {
  h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    background: linear-gradient(
      180deg,
      #bc10d8 0%,
      rgba(80, 0, 250, 0.93) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 41px;
    margin-top: 0;
  }
  width: 280px;
  height: 82px;
}
.in_the_box_controllers_card:nth-child(4) {
  margin-left: 40px;
}
.in_the_box p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
}
.metaverse {
  background-image: url(../png/Metaverse.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.metaverse button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-style: none;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  justify-content: center;
  margin-top: 371px;
}
.accessories {
  display: flex;
  height: 540px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
}
.accessories button {
  gap: 0;
  width: 260px;
  height: 30px;
  margin: 0;
  background: rgba(217, 217, 217, 0);
  border: 1px solid transparent; /* Прозорий бордер */
  border-image: linear-gradient(
    180deg,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) 100%
  ); /* Градієнт для бордера */
  border-image-slice: 1; /* Вказує, щоб градієнт поширювався на весь бордер */
}
.accessories span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accessories_border {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  background: rgba(217, 217, 217, 0);
  border: 1px solid transparent; /* Прозорий бордер */
  border-image: linear-gradient(
    180deg,
    #bc10d8 0%,
    rgba(80, 0, 250, 0.93) 100%
  ); /* Градієнт для бордера */
  border-image-slice: 1; /* Вказує, щоб градієнт поширювався на весь бордер */
  width: 300px;
}
.first_accesories,
.second_accesories,
.third_accesories,
.fourth_accesories {
  margin-left: 20px;
  margin-bottom: 18px;
}
.accessories p {
  width: 300px;
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
}
.accessories_price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
}
.accessories_colorful_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accessories h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  height: 56px;
  width: 260px;
}
.accessories_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  margin-top: 100px;
}
.footer-nav-bar {
  position: relative;
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-between; /* Елементи на протилежних кінцях */
  align-items: center; /* Вирівнювання по вертикалі */
}
.footer-nav-bar button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.footer_btns {
  display: flex; /* Розміщує кнопки в рядок */
  gap: 20px; /* Проміжок між кнопками */
  height: 18px;
  button {
    background-color: transparent;
    border: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
  }
}

.footer_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto; /* Логотип буде по центру через автоматичні відступи */
}

.bag {
  margin-left: auto;
  cursor: pointer;
}
.footer_nav_bar_socials {
  display: flex;
  gap: 20px;
  width: 130px;
  height: 30px;
  cursor: pointer;
}
.news_and_updates {
  width: 100%;
  margin-top: 672px;
  border-right: 1px solid var(--light-grey);
  margin-bottom: 100px;
}
.news_and_updates h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}
.news_and_updates input {
  width: 600px;
  height: 55px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
}
.news_and_updates p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--grey);
}
.oculus_email {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
}
.email_button {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border-style: none;
  position: absolute;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #5c5c5e;
  background-color: #cacad6;
  text-transform: uppercase;
  margin-left: 550px;
  margin-top: 5px;
}
.email_input {
  position: absolute;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 35px;
}
.email_input::placeholder{
  color: var(--light-grey);
}
.email_input:focus {
  outline: none;
}

.footer_text {
  margin-top: 90px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--grey);
  width: 600px;
}
footer {
  border-style: var(--light-grey);
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 10px;
}
.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: rgb(183, 188, 239);
  font-size: 1em;
  user-select: none;
  pointer-events: none;
}

@keyframes fall {
  to {
    transform: translateY(calc(750vh + 10px)) rotate(360deg);
  }
}
